<html>
<head>
    <title>Classifier</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
  <div class="impo">
        <nav class="navbar header-nav fixed-top navbar-expand-lg">
                <div class="container">
                  <!-- Brand -->
                  <img src="static/logo2.png" width="50" height="50">
                  <a class="navbar-brand" href="#">
                    &nbsp;&nbsp;&nbsp;Astute Resolutions
                  </a>
                  <!-- / -->     
                 </div>
        </nav>
      </div>
</body>
</html>