<html>
    <head>
        <title>Classifier</title>
        <link rel="stylesheet" href="static/css/base.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div class="impo">
                <nav class="navbar header-nav fixed-top navbar-expand-lg">
                    <div class="container">
                          <!-- Brand -->
                          <img src="static/logo2.png" width="50" height="50">
                          <a class="navbar-brand" href="#">
                            &nbsp;&nbsp;&nbsp;Astute Resolutions
                          </a>
                             <!-- / -->     
                     </div>
                </nav></br></br></br></br>
        </div>
        <div class="container">
            <b>Select Model</b>
            <form action="http://localhost:5000/feed" method="post">
                <input type="radio" name="model" value="fire" > Fire Model<br>
                <input type="radio" name="model" value="garbage"> Garbage Model <br>
                <input type="submit" value="Submit">
            </form>
        </div>        


    </body>
</html>